html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* TopNavBar*/
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 2rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 1rem) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1rem) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*Finalización del NavBar*/

/*Creación de Grid*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr)  ;
  grid-gap: 1rem;
  background-color: white;
  padding: 1rem;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2rem 0;
  font-size: 3rem;
}
/*Finalización del Grid*/

/*Creaciones de Tarjetas o Card*/
.card {
  /* Agregar sombra para que parezca tarjeta */
  box-shadow:  0.04rem 0.08rem 0 grey;
  transition: 0.3s;
}

/* Cuando este sobre el mouse agregar sombra */
.card:hover {
  box-shadow: 1.6rem 0 rgba(0,0,0,0.2);
}

/* Agregar un poco dentro del padding del container de la Card*/
.container {
  padding: 0.02rem 10rem;
}
/*Finalizacion de las Cards*/

/*Footer*/
.footer {
    background-color: #333;
    margin-top: 2rem;
    padding: 2rem;
    height: 10rem;
    color: white;
    font-size: 1.5rem;
}

.footer p {
    padding-top: 4rem;
    text-align: center;
    margin: 0;
}

/*Finalización del Footer*/