.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.margin {
    margin-top: 2rem;
}

.cardUl {
    display: grid;
    grid-template-rows: 2fr 1fr;
    width: 25rem;
    height: 50rem;

    -webkit-box-shadow: 8px 10px 15px -5px rgba(0, 0, 0, 0.62);
    box-shadow: 8px 10px 15px -5px rgba(0, 0, 0, 0.62);
}

.imgUl {
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cardInfo {
    padding: .5rem 1rem;
}

.tituloCard {
    font-size: 1.8rem;
    margin: 0;
}

.descripCard {
    font-size: 1.2rem;
}

.btnCard {
    background-color: #4473ED;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin: 1rem;
    display: block;
    border: none;
    border-radius: .5rem;
}

.btnCard:hover {
    background-color: #3b66d3;
    transition: all .5s ease;
    cursor: pointer;
}