html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    
}

.header {
    background-color: #CFCFCF;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;    

    font-size: 1.8rem;
}