.contenedorPrin {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.alerta {
    padding: calc(5rem/4);
    color: white;
    width: 100%;
    display: block;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

.error {
    background-color: rgb(173, 0, 0);
}

.exito {
    background-color: rgb(0, 102, 0);
}

.text-center {
    text-align: center;
}

.galeriaMangas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 3rem;
}

@media (max-width: 900px) {
    .galeriaMangas {
        grid-template-columns: auto auto;
        column-gap: 1rem;
        row-gap: 3rem;
        justify-content: space-evenly;
    }
}

@media (max-width: 480px) {
    .galeriaMangas {
        display: block;
        justify-content: center;
    }

    .cardUl {
        margin: 0 auto 2rem auto;
    }
}

.margin {
    margin-top: 2rem;
}

.cardUl {
    display: grid;
    grid-template-rows: 2fr 1fr;
    width: 25rem;
    background-color: white;

    overflow: hidden;
    height: auto;
    border-radius: 1rem;

    transition: all .5s ease;

    -webkit-box-shadow: 8px 10px 15px -5px rgba(0, 0, 0, 0.62);
    box-shadow: 8px 10px 15px -5px rgba(0, 0, 0, 0.62);
}

.cardUl:hover {
    transform: scale(1.02) translateZ(0);
    transition: all .5s ease;
}

.imgUl img {
    width: 100%;
    height: 34rem;
    /*background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}

.cardInfo {
    padding: .5rem 1rem;
}

.tituloCard {
    font-size: 1.8rem;
    margin: 0;
}

.descripCard {
    font-size: 1.2rem;
}

.btnCard {
    background-color: #4473ED;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin: 1rem;
    display: block;
    border: none;
    border-radius: .5rem;
}

.btnCard:hover {
    background-color: #3b66d3;
    transition: all .5s ease;
    cursor: pointer;
}

/** css Perfil **/
.zonaPerfil {
    margin: 2rem auto;
    padding: 2.2rem 4.8rem;
    width: 100%;
    background-color: #626161;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: 1fr 4fr;
}

@media (max-width: 480px) {
    .zonaPerfil {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;
    }

    .infoUser {
        padding-left: 0;
    }
}

.imgPerfil {
    background-color: #D9D9D9;
    width: 19.6rem;
    height: 22.1rem;
    border-radius: 1rem;
    display: flex;

    align-items: center;
    justify-content: center;
}

.imgPerfil img {
    width: 15rem;
    height: 15rem;
}

.infoUser {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.botonesPerfil a {
    margin-bottom: 2rem;
}

.botonesPerfil a:last-of-type {
    margin-bottom: 0;
}

.nombreUser {
    color: white;
    margin: 0;
    font-size: 2.8rem;
    font-weight: bold;
}

.botones {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: .5rem;
    /*text-align: center;*/
    /*margin: 1rem;*/
    display: block;
    border: none;
    width: 16rem;
    border-radius: .5rem;
}

.boton-rojo {
    background-color: #EE7979ED;
}

.boton-gris {
    background-color: #959595;
}

.botones svg {
    vertical-align: middle;
}

.botones:hover {
    opacity: .8;
    transition: all .5s ease;
    cursor: pointer;
}

.favZone {
    width: 100%;
    background-color: #626161;
    border-radius: 1rem;
    padding: .8rem 5.3rem 3.4rem 5.3rem;
}

.favZone h1 {
    margin-top: 0;
    margin-bottom: 2.6rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.8rem;
}

@media (max-width: 480px) {
    .favZone {
        padding: .8rem 2.3rem 3.4rem 2.3rem;
    }
}

/* Fin zona de perfil */

/* Zona Favoritos */
.tituloPagina {
    font-size: 3.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.cardFavs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonQuitar {
    background-color: #C50000;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: .5rem;
    /*text-align: center;*/
    /*margin: 1rem;*/
    display: block;
    border: none;
    width: 10rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.botonQuitar:hover {
    background-color: #9c0303;
    cursor: pointer;
    transition: all .5s ease;
}

/* Css de Categorias */
.categoriasGrid {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2.5rem;
    column-gap: 3rem;
}

.cardCat {
    max-width: 100%;
    min-height: 21rem;
    overflow: hidden;
    border-radius: 5rem;
    position: relative;
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.58);
    font-size: 2rem;

    transition: all .3s ease;
}

.cardCat:first-of-type {
    grid-column: 1 / 4;
    font-size: 2.4rem;
    max-width: 100%;
    max-height: 43.2rem;
}

.cardCat:hover {
    transform: scale(1.02) translateZ(0);
    transition: all .3s ease;
}

.bannerManga {
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.overlayCat {
    width: 100%;
    position: absolute;
    top: 75%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.tituloCategoria {
    margin: 1rem 0 0 2.5rem;
    color: rgb(242, 242, 242);
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 900px) {
    .categoriasGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .cardCat:first-of-type {
        grid-column: 1 / 3;
    }
}

@media (max-width: 480px) {
    .categoriasGrid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardCat {

        height: 21rem !important;
    }

    .cardCat:first-of-type {
        max-width: 36.5rem;
    }
}

/* Css de formularios */
.formulario {
    font-size: 1.6rem;
    line-height: 1.8;
}

.formulario p {
    font-size: 1.4rem;
    margin: 2rem 0 0 0;
}

.formulario legend {
    font-size: 1.8rem;
}

.formulario label {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.formulario input:not([type="submit"]) {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid #3f3f3f;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.contenedor-Login{
    max-width: 80rem;
    min-height: 100%;
    margin: 0 auto;
}

.botonForm {
    background-color: #3f3f3f;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    border: none;
}

.botonForm:hover {
    background-color: #2c2c2c;
    cursor: pointer;
    transition: all .3s ease;
}

.acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 1.5rem;
}

@media (max-width: 480px) {
    .acciones {
        display: block;
    }

    .botonForm {
        width: 100%;
    }

    .acciones a {
        margin-top: 1rem;
    }
}

.acciones a {
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
}